.globalNav {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  border-radius: 1.875rem;
  border: 1px solid var(--color-border);
  background: var(--color-nav-bg);
  backdrop-filter: blur(24px);
  z-index: 10;
}

.globalNav,
.navActions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dividerVertical {
  width: 0.0625rem;
  height: 1.25rem;
  border: 0.0625rem solid var(--color-border);
}

.themeSwitcher {
  width: 1rem;
  height: 1rem;
  background: var(--color-text-primary);
  border-radius: 50%;
}
