.project + .project {
  margin-top: 6rem;
}

.projectOverview {
  width: 100%;
  text-wrap: balance;
}

.projectOverview > h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.projectStack {
  display: flex;
  gap: 0.5rem;
  margin-block: 1rem 2rem;
}

.chip,
.repoChip {
  max-width: fit-content;
  height: fit-content;
  border-radius: var(--border-radius-sm);
  padding: 0.25rem 0.5rem;
  background: var(--color-chip-bg);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00038rem;
}

.container {
  border: 0.0625rem solid var(--color-border);
  border-radius: var(--border-radius-md);
  display: grid;
  aspect-ratio: 1.5/1;
  place-items: center;
  position: relative;
}

.repoChip {
  display: none;
}

.repoChip:hover {
  text-decoration: none;
}

.projectMedia {
  width: 18rem;
  height: 11.75rem;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-lg);
  transition: all 300ms var(--transition-bounce);
}

@media screen and (min-width: 768px) {
  .projectOverview {
    width: 75%;
  }

  .container {
    border-radius: var(--border-radius-md);
    display: grid;
    place-items: center;
    position: relative;
  }

  .repoChip {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: unset;
    border: 1px solid var(--color-border);
    text-decoration: none;
  }
}

@media screen and (min-width: 1024px) {
  .projectOverview {
    width: 50%;
  }

  .projectMedia {
    width: 32rem;
    height: 21rem;
  }
}
