.project + .project {
  margin-top: 6rem;
}

.projectOverview {
  width: 100%;
  text-wrap: balance;
}

.projectOverview h3 {
  font-size: 1.0625rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.projectOverview p {
  color: var(--color-text-secondary);
}

.projectStack {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.5rem 1.5rem;
}

.projectContainer {
  border-radius: var(--border-radius-lg);
}

.projectMedia {
  width: 100%;
  aspect-ratio: 1.54/1;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  border: 0.125rem solid var(--color-border-primary--glass);
  box-shadow: var(--box-shadow-lg);
  transition: all 300ms var(--transition-bounce);
}

.projectMedia:hover {
  scale: 1.01;
}

/* Contextual Toolbar */
.repoToolbar {
  display: none;
}

.privateRepo {
  display: none;
}

@media screen and (min-width: 480px) {
  .projectOverview {
    width: 75%;
  }

  .projectMedia {
    width: 18rem;
  }

  .projectContainer {
    background: var(--color-elem-secondary);
    overflow: hidden;
    display: grid;
    place-items: center;
    aspect-ratio: 1.5/1;
    position: relative;
  }
}

@media screen and (min-width: 481px) and (max-width: 780px) {
  .projectMedia {
    width: 20rem;
  }
}

@media only screen and (min-width: 781px) {
  .repoToolbar {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: var(--color-elem-primary--glass);
    border-radius: var(--border-radius-md);
    border: 1px solid var(--color-border-primary--glass);
    padding: 0.375rem;
    padding-left: 0.75rem;
  }

  .repoToolbar:hover {
    padding-left: 0.375rem;
  }

  .externalButton {
    padding: 0.25rem 0.625rem;
    padding-left: 0;
    border-radius: var(--border-radius-sm);

    font-size: var(--font-size-sm);
    display: grid;
    place-items: center;
  }

  .commit {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    padding: 0.25rem;
    font-size: var(--font-size-xs);
  }

  .commitDetails {
    display: block;
    color: var(--color-text-secondary);
    filter: blur(0.125rem);
    width: 0;
    height: 0;
    overflow: hidden;
    transition: filter, width, height, overflow, 400ms var(--transition-bounce);
  }

  .repoToolbar:hover .commitDetails {
    filter: blur(0);
    width: unset;
    height: unset;
    overflow: unset;
    padding-right: 0.25rem;
  }

  .repoToolbar:hover .commitHash {
    color: var(--color-text-primary);
  }

  .repoToolbar:hover .externalButton {
    padding-left: 0.625rem;
    background: var(--color-elem-primary);
  }

  .privateRepo {
    display: block;
    font-size: var(--font-size-xs);
    color: var(--color-text-secondary);
    opacity: 0.25;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .projectOverview {
    width: 50%;
  }

  .projectMedia {
    width: 32rem;
  }
}
