.toolbarWrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translateX(-50%);
  z-index: 10;
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  pointer-events: none;
}

.toolbar,
.toolbarModal {
  border: 1px solid var(--color-border-primary--glass);
  background: var(--color-elem-primary--glass);
  backdrop-filter: blur(24px);
}

.toolbar {
  max-width: fit-content;
  border-radius: 1.875rem;
  overflow: hidden;
  pointer-events: all;
  box-shadow: var(--box-shadow-sm);
}

.toolbar,
.toolbarActionList {
  display: flex;
  align-items: center;
}

.divider,
.dividerVertical {
  background: var(--color-border-primary--glass);
}

.divider {
  width: calc(100% - 1.5rem);
  height: 0.0625rem;
  margin-inline: auto;
  margin-block: 0.5rem;
}

.dividerVertical {
  width: 0.0625rem;
  height: 1.25rem;
}

.toolbarAction {
  padding: 0.75rem 0.5rem;
  min-width: 2.5rem;
  height: 2.5rem;
}

.toolbarAction > *,
.toolbarText {
  transition: opacity 200ms linear;
  opacity: 0.7;
}

.toolbarAction:hover > *,
.toolbarText:hover {
  opacity: 1;
}

ul li:nth-of-type(1) .toolbarAction {
  padding-left: 1rem;
}

ul li:nth-of-type(2) .toolbarAction {
  padding-right: 1rem;
}

.toolbarText {
  width: 4.5rem;
  padding-block: 0.75rem;
  text-align: center;
}

.themeSwitcher {
  width: 1rem;
  aspect-ratio: 1/1;
  background: var(--color-text-primary);
  box-shadow: inset 0px 0.5px 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* toolbar modal */
.toolbarModal {
  padding-block: 1rem 0.5rem;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
  transform: translateY(0.5rem);
  opacity: 0;
  transition: transform, opacity, 300ms var(--transition-bounce);
  transition-delay: 300ms;
  pointer-events: none;
}

.toolbarModal.isActionOpen {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.contactHeading,
.contactSubheading {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: var(--font-size-xs);
  padding-inline: 1rem;
  padding-bottom: 0.5rem;
}

.contactSubheading {
  color: var(--color-text-secondary);
}

.contactList {
  display: grid;
  width: 12rem;
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
}

.contactLink {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border-radius: var(--border-radius-sm);
}

.contactLink:hover {
  text-decoration: none;
  background: var(--color-elem-secondary--glass);
}
