.main {
  margin-inline: 1.5rem;
}

.contentWrapper {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
}

.largeSpacing {
  margin-block: 4rem 6rem;
}

.storytelling > p + p {
  margin-top: 4rem;
}

.storytelling {
  padding-bottom: 15lvh;
}

@media screen and (min-width: 768px) {
  .contentWrapper {
    width: 100%;
    max-width: 32rem;
  }

  .storytelling > p + p {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    margin-block: 0 6rem;
  }

  .contentWrapper {
    max-width: 48rem;
  }

  .largeSpacing {
    margin-block: 10rem 8rem;
  }
}

@media screen and (min-width: 1540px) {
  .contentWrapper {
    max-width: 54rem;
  }
}
